@import "tailwindcss";
body{
  background-color: #F0F2F5;
    font-family: "Cairo", sans-serif;
}
.myContainer{
  @apply mx-auto px-4 sm:px-4 md:px-8 lg:px-20 max-w-full;
}
@theme{
  --color-dark-Blue:#00298d;

}
.auth-active{
  @apply bg-white text-dark-Blue rounded-xl py-2;
}
.input {
  @apply flex items-center gap-2.5 ps-8 pe-4 py-3 bg-gray-100 border  rounded-xl text-sm text-gray-800 placeholder-gray-400 outline-none transition-all duration-150 w-full  border-gray-200;
}

.input:focus {
  @apply border-black bg-white;
}
.active{
  @apply text-blue-600
}
.body-space{
  margin-top: 90px;
}
.loader-inner{
background: linear-gradient(135deg,#23C4F8,#275EFE);
box-shadow:0 4px 6px rgba(39,94,254,0.28);
perspective:600px;
}

.page{
position:absolute;
top:10px;
left:10px;
transform-origin:100% 50%;
color:rgba(255,255,255,0.36);
opacity:0;
transform:rotateY(180deg);
animation-duration:3s;
animation-timing-function:ease;
animation-iteration-count:infinite;
}

.page:first-child{
opacity:1;
transform:rotateY(0deg);
}

.page:last-child{
opacity:1;
}

.page-2{animation-name:page2;color:rgba(255,255,255,0.52);}
.page-3{animation-name:page3;color:rgba(255,255,255,0.52);}
.page-4{animation-name:page4;color:rgba(255,255,255,0.52);}
.page-5{animation-name:page5;color:rgba(255,255,255,0.52);}

@keyframes page2{
0%{transform:rotateY(180deg);opacity:0;}
20%{opacity:1;}
35%,100%{opacity:0;}
50%,100%{transform:rotateY(0deg);}
}

@keyframes page3{
15%{transform:rotateY(180deg);opacity:0;}
35%{opacity:1;}
50%,100%{opacity:0;}
65%,100%{transform:rotateY(0deg);}
}

@keyframes page4{
30%{transform:rotateY(180deg);opacity:0;}
50%{opacity:1;}
65%,100%{opacity:0;}
80%,100%{transform:rotateY(0deg);}
}

@keyframes page5{
45%{transform:rotateY(180deg);opacity:0;}
65%{opacity:1;}
80%,100%{opacity:0;}
95%,100%{transform:rotateY(0deg);}
}